div.container.text-center.col-sm-12
  br
  h3 SSNoC Announcements
  div.row
    div.col-sm-12
        div.well
            ul.list-unstyled.scrollable-chat#announcementbox
  div.row
    div.col-sm-10
        input.form-control(name="message", placeholder="Write an announcement")#message
    div.col-sm-2
        button.btn.btn-primary(onclick="postAnnouncement()") Submit
