table.table.table-striped.table-bordered
  thead
    tr
      th(style="text-align: center") Total GET Requests
      th(style="text-align: center") Total POST Requests
  tbody
        tr
        td #{gets}
        td #{posts}
