div.container.text-center.col-sm-12
  br
  h3 SSNoC Private Chat with #{target_user}
  div.row
    div.col-sm-12
        div.well
            ul.list-unstyled.scrollable-chat#privatebox
  div.row
    div.col-sm-10
        input.form-control(name="message", placeholder="Write a private message")#message
    div.col-sm-2
        button.btn.btn-primary(onclick="postPrivateMessage(\'#{target_user}\')") Submit
