div.container.text-center.col-sm-12
    br
    h3 Search Information
    div.row
        div.col-sm-10
            input.form-control(name="message", placeholder="Search for keywords")#message
        div.col-sm-2
            button.btn.btn-primary(onclick="doSearch()") Submit
    div.row
        div.col-sm-12
            div#results
            

