div.container.text-center.col-sm-12
    br
    h3 Administer Profile
    div.row
        div.col-sm-12
            div
                table.table
                    thead(style="background-color: #B0E0E6")
                        tr
                            th(style="text-align: center") Username
                            th(style="text-align: center") Status Code
                            th(style="text-align: center") Role
                            th(style="text-align: center") Activity Status
                    tbody#users